MONGO_URI=mongodb://localhost:6e836/sk
JWT_SECRET_KEY=njholsd-js=kjhossksddbvdb/kljjodidgnihiouods21654
CLIENT_ID=65489491654894oiuhiuhvsiobjsf848.apps.googleusercontent.com
CLIENT_SECRET=jkshfoiwegew65554dgihgstw
REFRESH_TOKEN=iohioshihw8et99ujposf65452
EMAIL_USER=banksystem@gmailake.com